#header {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #fff;
  -webkit-box-shadow: 0 2px 8px #f0f1f2;
  box-shadow: 0 2px 8px #f0f1f2;
  position: relative;
  z-index: 10;
  max-width: 100%;
}

#logo {
  overflow: hidden;
  padding-left: 40px;
  float: left;
  height: 64px;
  line-height: 64px;
  text-decoration: none;
  white-space: nowrap;
}

#logo img {
  height: 50px;
}

#nav {
  border: 0;
  float: right;
  font-size: 14px;
  box-shadow: none;
  line-height: 64px;
  margin-right: 50px;
}
