body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

code {
    display: block;
    margin: 20px 0 15px 0;
    padding: 10px;
    background: #eee;
}

.text-center {
  text-align: center;
}

.clearfix {
  zoom: 1;
}
